{% seo %}
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107197610-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-107197610-1');
</script>

    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->
    <noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}" /></noscript>
    
    <meta name="keywords" content="Gene, Genome, Genetics, Gene-targeting, Genome-editing, Genome-engineering, CRISPR-Cas9, Cas9, CRISPR, Cpf1, Cas12a, Cas13a, immune, immunogenicity, chew, wei, leong, Singapore, Institute, research, biology, DNA, RNA, technology, biotech, innovation, disease, protein engineering, therapeutics, therapy, medicine " />

    <meta name="description=" content="Our team builds technologies for a world without diseases. We build technologies so that we can make pinpoint changes to genes with CRISPR, deliver treatments   with   adeno-associated viruses (AAVs), make safer therapeutics that bypass adverse immune reactions, fight diseases, and save lives. This is how we create new medicines. This is how we engineer life." />
  
</head>
