<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon {{ site.icon }}"></span>
			</div>
			<div class="content">
				<div class="inner">
					
					<!---<h1>{{ site.title }}</h1>
					<p>{{ site.description }}</p>--->
					
					<div style="float: left; width: 50%;">
						<ul>
						<h1>We buil technologies to rewrite the human genome</h1>
						</ul>
						</div>
						<div style="float: right; width: 50%;">
						<ul>
						<p>text text text</p>
						</ul>
						</div>
					
					
					
				</div>
			</div>
			<nav>
				<ul>
					{% for page in site.pages  %}
					<!--{% unless page.layout == 'default' %}-->
					<li><a href="#{{ page.title }}">{{ page.title }}</a></li>
					<!--{% endunless %}{% endfor %}-->
				</ul>
			</nav>
		</header>

	<!-- Main -->
		<div id="main">
